//colors
$main: #C4C4C4;
$back: #E5E5E5;
$text-main: #000;
$button: #FF0000;
$back-search: #fff;
$back-options: #E3E3E3;
$back-select: #65CDF9;
$main-border: #000;
$result: #E27BEB;

// //resolution
// $mobile: 320px;
// $wide-mobile: 360px;
// $tablet: 768px;
// $desktop: 1120px;
// $wide-desktop: 1440px;